@model JDTMVC.Models.Job[]

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Job Date Tracker";
 }


   <div style="text-align:center">
    @using (Html.BeginForm("FindJob", "Jobs", FormMethod.Get))
    {
        @Html.TextBox("name")
        <input type ="submit" value="Search" />
    }
       @*<p>
            @Html.DropDownList("TableSelect")
       </p>*@
       <p>
            @Html.ActionLink("Create Job", "Create") | <a href="~/Jobs/FindJob?name=">View All</a>
       </p>
            </div>
    

